/* common section start */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF42A5;
    --secondary-color: #FFF;
    --tertiary-color: #4EC5F7;
    --quaternary-color: #F948B2;
    --quinary-color: #8758F1;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 48px;
    border: none;
}

.rogue-btn {
    background-color: var(--tertiary-color);
}

/* common section end */

/* nav section start */
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.brand-text {
    background: -webkit-linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.follow-us {
    border-radius: 6px;
    background: #0b02231a;
    padding: 1.25rem 1.5rem;
}

/* mobile device */
@media screen and (max-width: 575px) {
    .navbar-items {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .navbar-items {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }
}

/* nav section end */

/* banner section start */
.banner {
    display: flex;
    gap: 4.25rem;
    justify-content: space-between;
}

.banner-items {
    background-image: url('images/Group 14.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    padding-left: 6rem;
}

.banner-items-title {
    margin-top: 7.25rem;
    color: #0B0223;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-items-highlighter {
    font-size: 4.75rem;
    font-weight: 800;
    background: -webkit-linear-gradient(var(--quaternary-color), var(--quinary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-items ul li {
    list-style: none;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 2rem;

}

.banner-items ul {
    margin-bottom: 1.25rem;
}

.banner>img {
    width: 60%;
    max-width: 34rem;
    margin-right: 6rem;
}

/* mobile device */
@media screen and (max-width: 575px) {
    .banner {
        flex-direction: column;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .banner {
        flex-direction: column;
    }
}

/* banner section end */

/* Online games section start */
main {
    margin: 0 6rem;
}

.gradient-colored-title {
    background: -webkit-linear-gradient(var(--quaternary-color), var(--quinary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-title {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 5rem;
}

.online-games-description {
    text-align: center;
    color: #534C64;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.online-games-img {
    display: flex;
    gap: 1.5rem;
}

/* mobile device */
@media screen and (max-width: 575px) {
    .online-games-img {
        flex-direction: column;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .online-games-img {
        flex-direction: column;
    }
}

/* Online games section end */

/* Play games section start */
.play-games-img {
    position: relative;
}

.play-games-img .under {
    max-width: 30rem;
    border-radius: .5rem;
}

.play-games-img .over {
    max-width: 12rem;
    border-radius: .5rem;
    position: absolute;
    left: 23.75rem;
    top: 19rem;
}

.play-games {
    margin-top: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-games-title {
    max-width: 26rem;
    font-size: 3rem;
    font-weight: 700;
}

.play-games-description {
    max-width: 28rem;
    color: #534C64;
    font-size: 1rem;
    line-height: 2rem;
}

/* Play games section end */

/* Game names section start */
.game-names {
    margin: 12rem 3rem 3rem;
}

.game-names a {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: #0B0223;
    font-weight: 600;
}

.first-row-game-names {
    display: flex;
    justify-content: space-between;
}

.second-row-game-names {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.game-names {
    display: grid;
    row-gap: 2.5rem;
}

.first-row-game-names a:hover {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);

}

.second-row-game-names a:hover {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
}

/* Game names section end */

/* Footer section start */
footer {
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.5rem;
    margin-top: 7rem;
}

.footer-brand {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

footer ul {
    display: flex;
    gap: 3rem;
}

.connection-link {
    margin-top: 4rem;
}

.rules-regulations {
    margin-top: 4rem;
    gap: 2rem;
    font-weight: 500;
}

small {
    color: #FFFFFF;
    margin-top: 1.75rem;
    margin-bottom: 7.5rem;
    font-weight: 500;
}

/* Footer section end */